#user-chat-box{
    border: dashed 1px grey;
    height: 40%;
    width: 20%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background: white;

    #chat-message-list{
        list-style: none;
        padding: 10px;
        height: 70%;
        overflow: auto;

        .other-message{
            text-align: left;
            padding: 5px;

            span{
                display: inline-block;
                padding: 15px;
                background-color: #ffa0a0;
                border-radius: 10px;
            }

        }


        .self-message{
            text-align: right;
            padding: 5px;

            span{
                display: inline-block;
                padding: 15px;
                background-color: #a0dcff;
                border-radius: 10px;
            }
        }


    }

    #chat-message-input-container{
        height: 13%;
        width: 100%;
        display: flex;

        #chat-message-input{
            width: 70%;
        }
        #send-message{
            width: 30%;
            font-size: 1.2rem;
            color: white;
            background-color: #58d258;
            border: none;
        }

        
    }



}