footer {
  box-sizing: border-box;
  background-color: grey;
  display: flex;
  color: white;
  padding: 15px;
  font-family: sans-serif;

  #nav-links {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    a {
      color: white;
      text-decoration: none;
      margin-bottom: 5px;
    }
  }
}
