.comments-container {
  padding: 8px 35px;
  background-color: #f0f2f5;
  margin-bottom: 8px;
  position: relative;
  border-radius: 20px; }
  .comments-container p {
    margin: 0; }
    .comments-container p .delete-comment-button {
      position: absolute;
      right: 15px;
      top: 20px;
      padding: 1px 5px;
      font-size: 0.8rem; }
    .comments-container p .user-name {
      font-size: 1rem;
      font-weight: 600;
      margin-right: 5px; }
    .comments-container p .toggle-like-button {
      text-decoration: none;
      margin-top: 5px;
      font-weight: 500; }
      .comments-container p .toggle-like-button img {
        width: 18px;
        margin-right: 5px; }
