.posts-container {
  border: 1px solid lightgrey;
  padding: 25px;
  padding-top: 0;
  margin-bottom: 15px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: -0.1px 0.1px 1px 0.1px lightgrey; }
  .posts-container p .delete-post-button {
    position: absolute;
    right: 15px;
    top: 15px; }
  .posts-container p .user-name {
    font-size: 1.1rem;
    font-weight: 600; }
  .posts-container p .post-content {
    font-size: 1rem;
    margin: 10px 0; }
  .posts-container p .likes-comment-container {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-top: 10px;
    padding: 5px 0;
    font-weight: 500; }
  .posts-container p .toggle-like-button {
    text-decoration: none;
    margin-top: 5px; }
    .posts-container p .toggle-like-button img {
      width: 18px;
      margin-bottom: 5px;
      margin-right: 5px; }
  .posts-container .post-comments form {
    display: flex;
    align-items: center; }
    .posts-container .post-comments form input {
      border-radius: 10px;
      padding: 5px 10px;
      border: 1px solid lightgrey;
      margin-right: 10px;
      font-size: 0.85rem; }
    .posts-container .post-comments form .write-comment {
      margin-left: 35px;
      width: 40%; }
