<div>

    <p>Click on the link to reset password</p> 
    
    <!-- change the link for production/development -->
    <p> https://facecopy.tech/users/reset_password/<%= resetPasswordToken.accessToken %> </p>

</div>